.title {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: normal;
}

.image-add-title {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    background: #FAFBFB;
    border: 1px solid #f7f7f7;
    border-bottom: 1px solid #E1E1E1;
    border-top: 2px solid #63B9F1;
}

.image-add-title span {
    text-align: center;
    display: block;
    width: 6%;
}

.image-add {
    background: #fefefe;
    height: 100px;
    border: 1px solid #f5f5f5;
    border-bottom: none;
    padding: 10px;
}

.image-add-btn {
    text-align: center;
    border: 1px solid #f5f5f5;
    border-top: none;
    margin-bottom: 30px;
}

.image-add-btn-submit, .image-add-btn-cancel {
    padding: 2px 20px;
    margin: 0 10px 10px 10px;
    border: 1px solid #ccc;
    background: #f5f5f5;
}

.image-add-btn-submit {
}

.image-add-btn-cancel {
}

.image-items{
    margin-bottom: 30px;
}

.image-item-title {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    background: #FAFBFB;
    border: 1px solid #f7f7f7;
    border-bottom: 1px solid #E1E1E1;
    border-top: 2px solid #63B9F1;
}

.image-item-title-img, .image-item-title-opt {
    text-align: center;
    display: block;
    float: left;
}

.image-item-title-img {
    width: 988px;
    float: left;
}

.image-item-title-opt {
    width: 200px;
    float: right;
}
.image-item {
    background: #fefefe;
    border: 1px solid #f5f5f5;
    margin-top: 10px;
    height: 300px;
    overflow: hidden;
}

.image-item-img {
    height: 300px;
    float: left;
}
.image-item-opt{
    text-align: center;
    width: 200px;
    height: 300px;
    line-height: 300px;
    float: right;
}